body {
    background : lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin:0;
    font-size:40px;
    font-family: 'open_sansbold';
    flex-direction: column;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans-Bold-webfont.woff');
    src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

